<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>workspace-panels</title>
      <link href="https://cdn.jsdelivr.net/npm/@icon/dashicons@0.9.0-3/dashicons.css" rel="stylesheet" media="all">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.2/codemirror.min.css" rel="stylesheet" media="all">
      <link href=" https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.2/theme/midnight.min.css" media="all">
      <script src="./static/codemirror-5.40.2.css.min.js"></script>
      <script defer src="./static/example.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
      <link rel="stylesheet" href="http://flawless.local/wp-content/plugins/flawless-styles/lib/codemirror-colorpicker/node_modules/codemirror-colorpicker/dist/codemirror-colorpicker.css?ver=1.9.4"/>
<script src="http://flawless.local/wp-content/plugins/flawless-styles/lib/codemirror-colorpicker/node_modules/codemirror-colorpicker/dist/codemirror-colorpicker.min.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but workspace-panels doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="workspace-panels-app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
