<template>
    <li class="workspace-add-icon-item">
        <transition name="add-icon-trans">
      <a
                href="#" class="workspace-add-tab notched">+</a>
        </transition>
    </li>
</template>
<script>
    export default {};
</script>
<style>
    .add-icon-trans {

    }
</style>