<template>
    <div id="workspace-content-editor-pane"
         :style="paneStyles"
         ref="parentContainer"
         v-show="hasPanels"
    >
        <div
                id="workspace-content-editor-dragbar"
                @mousedown="activateResize"
        >
        </div>
        <div class="panels">
            <panel-wrapper
                    v-for="(panelID, index) in openPanels"
                    :key="panelID"
                    :index="index"
                    :count="openPanels.length"
                    :parentWidth="parentWidth"
                    :panelData="getData(panelID)"
                    :panelConfig="getConfig(panelID)"
                    :componentName="getPanel(panelID).type">
            </panel-wrapper>
        </div>
    </div>
</template>
<script>
    import PanelWrapper from "./PanelWrapper.vue";
    import WorkspacePanelManager from "./../main";

    export default {
        data() {
            return {
                enableResizing: false,
                height: "300px",
                bottom: 0,
                pointerEvents: "auto",
                openPanels: WorkspacePanelManager.state.openPanels
            };
        },
        computed: {
            hasPanels(){
                return ( this.openPanels.length > 0 );
            },
            paneStyles(){
                return{
                    height: this.height,
                    bottom: this.bottom,
                    'pointer-events': this.pointerEvents,
                    '--workspace-height' : this.height
                }
            }
            /*openPanels() {
             console.log( 'openPanels', this.$openPanels, WorkspacePanelManager.state );
             return this.$openPanels;
             //return this.$panelStore;
             //return WorkspacePanelManager.state.openPanels;
             }*/
        },
        created() {
            //this.openPanels = WorkspacePanelManager.state.openPanels;
        },
        mounted(){

        },
        components: { PanelWrapper },
        methods: {
            getData( id ) {
                const handle = this.getPanel( id ).handle;
                return WorkspacePanelManager.getDataHandler( handle );
            },
            getPanel( id ) {
                return WorkspacePanelManager.getPanel( id );
            },
            getConfig( id ) {
                return this.getPanel( id );
            },
            parentWidth() {
                return this.$refs.parentContainer.offsetWidth;
            },
            resize( e ) {
                this.pointerEvents = "none";

                var windowHeight = window.innerHeight,
                    windowWidth = window.innerWidth,
                    minScroll = 40,
                    maxScroll = 1,
                    mobileWidth = 782,
                    collapseMinSpacing = 56,
                    collapseBottomOutsideEditor = 8,
                    collapseBottomInsideEditor = 4,
                    newHeight,
                    resizeHeight;

                if ( !isNaN( e.pageY ) ) {
                    resizeHeight = windowHeight - e.pageY;
                }

                if ( resizeHeight < minScroll ) {
                    newHeight = minScroll;
                }

                if ( resizeHeight > windowHeight - maxScroll ) {
                    newHeight = windowHeight - maxScroll;
                }

                if ( windowHeight < this.outerHeight() ) {
                    newHeight = windowHeight;
                }
                this.height = `${resizeHeight}px`;
            },
            outerHeight() {
                return document.querySelector( "#workspace-content-editor-pane" )
                    .scrollHeight;
            },
            activateResize() {
                this.enableResizeBodyClass( true );
                this.pointerEvents = "none";
                this.disablePointersOnIframes(true);
                window.addEventListener( "mouseup", this.deactivateResize, {
                    panel: true
                } );
                window.addEventListener( "mousemove", this.resize, { panel: true } );
            },
            deactivateResize() {
                this.enableResizeBodyClass( false );
                this.disablePointersOnIframes(false);
                window.removeEventListener( "mouseup", this.deactivateResize, {
                    panel: true
                } );
                window.removeEventListener( "mousemove", this.resize, { panel: true } );
                this.pointerEvents = "auto";
            },
            enableResizeBodyClass( enable ){
                let method = (enable) ? 'add' : 'remove';
                document.body.classList[method]( "workspace-panel-content-editor-pane-resize" );
            },
            disablePointersOnIframes( disable ){
                let method = (disable) ? 'add' : 'remove';
                document.body.classList[method]( "no-pointer-on-iframes-during-resize" );
            }
        },
        watch: {
            hasPanels(){
                if ( !this.hasPanels ) {
                    this.enableResizeBodyClass( false );
                }
            }
        }
    };
</script>
