<template>
  <div class="workspace-editor-wrapper">
      <textarea ref="cmel" ></textarea>
  </div>
</template>
<script>
export default {
	name: "editor",
	props: ["config", "content", "editor"],
	data() {
		return {
			cm: {},
            editor: {},
		};
	},
	mounted() {
		//const cm = CodeMirror.fromTextArea(this.$refs.cmel, this.config);
        const cm = this.editor.fromTextArea(this.$refs.cmel, this.config);
		this.cm = cm;
		const instance = this;
        this.cm.on("change", function(cm, ch){
            instance.sync(cm.getValue())
        });
		/*this.cm.on("keyup", function(cm, ch) {
			instance.sync(cm.getValue());
		});
		cm.on("copy", function(cm, ch) {
			instance.sync(cm.getValue());
		});
		cm.on("paste", function(cm, ch) {
			instance.sync(cm.getValue());
		});*/
		this.cm.setValue(this.content);
		this.cm.refresh();
	},
	watch: {
		content(newValue) {
			this.cm.setValue(newValue);
			this.cm.refresh();
		}
	},
	methods: {
		sync(newValue) {
			this.$emit("contentUpdate", newValue);
		}
	}
};
</script>
<style>
</style>
