<template>
    <div class="workspace-menu-wrapper">
        <div
                class="workspace-scroll-handle scroll-left dashicons dashicons-arrow-left-alt2"
                @mouseover="scroll(true)">
        </div>

        <draggable
                @mouseover.native="onMenuMouseover"
                @mouseout.native="onMenuMouseOut"
                ref="menuList"
                element="ul"
                class="workspace-side-scroll-menu workspace-nav ui-sortable"
                v-model="items"
                @start="drag=true"
                @end="drag=false"
                @change="onMenuChange">
            <tab-item v-for="(tab, index) in items"
                      ref="tabEl"
                      :tab="tab"
                      :key="tab"
                      :active="isActive(index)"
                      :index="index"
                      :classes="tabClass(index)"
                      @mouseover.native.stop="onTabMouseover"
                      @rename="tabNameChange($event, index)"
                      @delete="deleteGroup"
                      @load="loadItem">
            </tab-item>
            <add-icon
                    slot="footer"
                    v-show="showAddIcon"
                    ref="addIcon"
                    @click.native="addGroup"
            ></add-icon>
        </draggable>
        <div
                class="workspace-scroll-handle scroll-right dashicons dashicons-arrow-right-alt2"
                @mouseover="scroll(false)" ref="scrollRight">

        </div>

    </div>
</template>
<script>
    import TabItem from "./TabItem";
    import AddIcon from "./AddIcon";
    import draggable from "vuedraggable";
    import Tweezer from "tweezer.js";

    export default {
        name: "tmenu",
        props: [ "tabs", "active", "activeTab", "currentIndex" ],
        data() {
            return {
                isAddingItem: false,
                showAddIcon: false,
                AddIconDisplay: "none",
                scrollOffset: 0,
                tweeningValue: 0,
                menuEl: false,
                tweenDuration: {
                    type: Number,
                    default: 500,
                    addingAt: 0
                }
            };
        },
        components: {
            TabItem,
            draggable,
            AddIcon
        },
        created() {
            //this.menuEl = this.$refs.menuList.$el;
        },
        computed: {
            addIconDisplay() {
                return this.showAddIcon ? "inline-block" : "none";
            },
            items: {
                get() {
                    return this.tabs;
                },
                set( value ) {
                    //this.$store.commit("updateList", value);
                }
            }
        },
        watch: {
            scrollOffset() {
                this.$refs.menuList.$el.scrollLeft = this.scrollOffset;
            },
            tweeningValue( value ) {
                this.menuEl.scrollLeft = value;
                this.scrollOffset = value;
            },
            showAddIcon( newValue ) {
            }
        },
        mounted() {
            this.offsetWidth = this.menuEl.scrollLeft;
            this.menuEl = this.$refs.menuList.$el;
            window.fuck = this.menuEl;
        },
        methods: {
            addGroup() {
                this.$emit( "addGroup", this.addingAt );
            },
            deleteGroup( group ) {
                this.$emit( "deleteGroup", group );
            },
            scroll( direction ) {

                //this.tween( this.scrollOffset, this.menuEl.scrollWidth );
                //this.tween();
                var instance = this;
                let start = this.scrollOffset;
                let end = direction
                    ? 0
                    : this.menuEl.scrollWidth - this.menuEl.offsetWidth;
                new Tweezer( {
                    start: start,
                    end: end
                } )
                    .on( "tick", v => (instance.scrollOffset = v) )
                    .begin();
            },
            isActive( index ) {
                return this.currentIndex === index;
            },
            tabClass( index ) {
                if ( index == this.currentIndex ) {
                    return "tab active";
                }
                return "tab";
            },
            loadItem( item ) {
                this.$emit( "load", item );
            },
            onMenuChange( $event ) {
                if ( $event.moved ) {
                    this.$emit( "reorder", $event.moved );
                }
            },
            onTabMouseover( e ) {
                this.showAddIcon = false;
            },
            onMenuMouseover( e ) {
                if ( this.showAddIcon ) {
                    return;
                }
                this.showAddIcon = true;

                this.positionAddIcon( e.pageX );
            },
            onMenuMouseOut() {
                this.showAddIcon = false;
            },
            positionAddIcon( pos ) {
                const tabs = this.$el.querySelectorAll( ".tab" );
                const positions = this.tabPositions( tabs );
                const closest = this.getClosest( pos, positions );
                if ( closest[ 1 ] === "after" ) {
                    tabs[ closest[ 0 ] ].insertAdjacentElement(
                        "afterend",
                        this.$refs.addIcon.$el
                    );
                    this.addingAt = closest[ 0 ] + 1;
                } else {
                    tabs[ closest[ 0 ] ].insertAdjacentElement(
                        "beforebegin",
                        this.$refs.addIcon.$el
                    );
                    this.addingAt = closest[ 0 ];
                }
            },
            tabNameChange( $event, index ) {
                this.$emit( "rename", $event );
            },
            tabPositions( tabs ) {
                return [ ...tabs ].map( function ( el ) {
                    var rect = el.getBoundingClientRect();
                    return (rect.right - rect.left) / 2 + rect.left;
                } );
            },
            getClosest( pos, list ) {
                var prevDiff = false,
                    closestIndex = 0,
                    index = 0,
                    direction,
                    diff;
                console.log( "gettingClosest", pos, list );
                while ( index < list.length ) {
                    diff = Math.abs( list[ index ] - pos );
                    if ( prevDiff !== false && diff > prevDiff ) {
                        break;
                    }
                    closestIndex = index;
                    prevDiff = diff;
                    index += 1;
                }
                direction = list[ closestIndex ] < pos ? "after" : "before";
                return [ closestIndex, direction ];
            }
        }
    };
</script>
<style>
    a.workspace-add-tab.notched {
        /*margin-top: -25px;
          display: block;
          top: 0;*/
    }

    .tab,
    .notched {
        max-width: 400px;
        --notchSize: 5px;

        clip-path: polygon(
                0% var(--notchSize),
                var(--notchSize) 0%,
                calc(100% - var(--notchSize)) 0%,
                100% var(--notchSize),
                100% 100%,
                0% 100%,
                0% calc(100% - var(--notchSize))
        );
    }

    .notched {
        --notchSize: 5px;

        clip-path: polygon(
                0% var(--notchSize),
                var(--notchSize) 0%,
                calc(100% - var(--notchSize)) 0%,
                100% var(--notchSize),
                100% calc(100% - var(--notchSize)),
                calc(100% - var(--notchSize)) 100%,
                var(--notchSize) 100%,
                0% calc(100% - var(--notchSize))
        );
    }
</style>
