<template>
<div class="workspace-panel-wrapper" ref="panel" :style="{'width': widthPX}">
  <component :is="componentName" :panelData="panelData" :panelConfig="panelConfig"></component>
  <div class="horizontal-panel-resize" @mousedown="activateResize"></div>
</div>
</template>
<script>
import SinglePanel from "./SinglePanel";
import TabbedPanel from "./TabbedPanel";

export default {
	data() {
		return {
			pointerEvents: "auto",
			width: 0
		};
	},
	props: [
		"componentName",
		"index",
		"count",
		"parentWidth",
		"panelData",
		"panelConfig"
	],
	components: { SinglePanel, TabbedPanel },
	mounted() {
		console.log("mounted");
	},
	computed: {
		widthPX() {
			if (this.width > 0) {
				return this.width + "px";
			} else {
				return "auto";
			}
		}
	},
	methods: {
		positioning() {
			return this.$refs.panel.getBoundingClientRect();
		},
		resize(e) {
			this.pointerEvents = "none";
			const currentPos = this.positioning();
			const offset = e.clientX - (currentPos.left + currentPos.width);
			let minWidth = 10;
			let maxWidth;
			let newWidth;
			let proposedWidth = currentPos.width + offset;
			maxWidth = this.parentWidth() - (this.count - 1) * minWidth;

			if (proposedWidth > maxWidth) {
				newWidth = maxWidth;
			} else if (proposedWidth < minWidth) {
				newWidth = minWidth;
			} else {
				newWidth = proposedWidth;
			}
			this.width = newWidth;
		},
		activateResize() {
			console.log("resize added");
			this.pointerEvents = "none";
			window.addEventListener("mouseup", this.deactivateResize, {
				panel: true
			});
			window.addEventListener("mousemove", this.resize, { panel: true });
		},
		deactivateResize() {
			console.log("deactivate", this.pointerEvents);
			window.removeEventListener("mouseup", this.deactivateResize, {
				panel: true
			});
			window.removeEventListener("mousemove", this.resize, { panel: true });
			this.pointerEvents = "auto";
		}
	}
};
</script>
