<template>
    <div class="workspace-panel workspace-tabbed-panel">
        <tmenu
                :tabs="tabs"
                :active="activeTab"
                :currentIndex="currentIndex"
                @reorder="reorderGroups"
                @load="loadGroup"
                @addGroup="onAddGroup"
                @rename="onNameChange"
                @deleteGroup="removeGroup"
        ></tmenu>
        <editor
                :content="content"
                :config="config"
                :editor="(panelConfig.editor)?panelConfig.editor:CodeMirror"
                @contentUpdate="update"></editor>
    </div>
</template>
<script>
    import Menu from "./Menu";
    import Editor from "./Editor";
    import WorkspacePanelManager from "./../main";

    export default {
        name: "tabbed-panel",
        components: { tmenu: Menu, Editor },
        props: [ "panelData", "panelConfig" ],
        data() {
            return {
                content: "",
                handler: {},
                currentIndex: 0,
                lastActive: false // can implement memorisation of last open tab later
            };
        },
        computed: {
            activeTab: {
                get() {
                    if ( this.lastActive ) {
                        return this.lastActive;
                    } else {
                        return '';
                    }
                },
                set( tab, index ) {
                    this.lastActive = tab;
                    this.currentIndex = index;
                }
            },
            tabs() {
                if ( this.panelData.state.length > 0 ) {
                    let indexField = this.panelConfig.indexField;
                    return this.panelData.state.map( function ( panel ) {
                        return panel[ indexField ];
                    } );
                } else {
                    return [];
                }
            },
            config() {
                return this.panelConfig.config;
            }
        },
        created() {
            this.handler = WorkspacePanelManager.getDataHandler(
                this.panelConfig.handle
            );
        },
        watch: {
          activeTab: {
              immediate: true,
              handler(newValue){
                  if( ! newValue ){
                      this.loadGroup(0);
                  }
              }
          }
        },
        mounted() {
            //manager.set('hello');
        },
        methods: {
            onNameChange( { newName, oldName } ){
                this.panelData.changeGroupName( newName, oldName );
            },
            update( newValue ) {
                const contentField = this.panelData.contentField;
                this.panelData.state[ this.currentIndex ][ contentField ] = newValue;
                this.panelData.setData( this.panelData.state );
            },
            onAddGroup( index ) {
                console.log( 'received add event' );
                this.panelData.addGroup( "new", index, "" );
                this.loadGroup( index );
            },
            loadGroup( index ) {
                const indexField = this.panelData.indexField;
                const contentField = this.panelData.contentField;
                this.activeTab = this.panelData.state[ index ][ indexField ];
                this.currentIndex = index;
                this.content = this.panelData.state[ index ][ contentField ];

            },
            reorderGroups( moved ) {
                this.panelData.reOrderGroups( moved );
            },
            removeGroup( tab ) {
                this.panelData.removeGroup( tab );
                let newIndex = this.currentIndex > 0 ? this.currentIndex - 1 : 0;
                this.loadGroup( newIndex );
            },
            changeGroupName( tab ) {
            },
            setToGroup( tab ) {
            }
        }
    };
</script>
