<template>
<li :class="classes">
  <a 
  v-show="! isEditing"
	@click="load"
  @dblclick="toggleEdit"
  >{{ name }}</a>
  <input 
  v-if="isEditing"
   type="text" 
   v-model="newName"
   v-on:keyup.enter="finishEditing"
	 v-click-outside="finishEditing"
	 
   >
	 <span class="delete-group" v-show="active" @click="deleteGroup">X</span>
</li>
</template>
<script>
import ClickOutside from "vue-click-outside";

export default {
  name: "tab-item",
  data() {
    return {
      isEditing: false,
      name: "",
      newName: ""
    };
  },
  props: ["tab", "classes", "active", "index"],
  mounted() {
    this.name = this.tab;
  },
  directives: {
    ClickOutside
  },
  methods: {
    toggleEdit() {
      this.newName = this.name;
      this.isEditing = true;
    },
    finishEditing() {
      this.isEditing = false;
      let oldName = this.name;
      this.name = this.newName;
      this.$emit("rename", { newName: this.newName, oldName: oldName } );
    },
    deleteGroup() {
      this.$emit("delete", this.name);
    },
    load() {
      this.$emit("load", this.index);
    }
  }
};
</script>
