
body.workspace-content-editor-pane-resize #customize-preview,
body.workspace-content-editor-pane-resize #workspace-content-editor-pane {
    -webkit-transition: none;
    transition: none;
}

body.mce-fullscreen.workspace-content-editor-pane-open
#workspace-content-editor-pane {
    top: 0;
}

body.workspace-content-editor-pane-open #workspace-content-editor-pane {
    bottom: 0;
    visibility: inherit;
}


#customize-preview {
    height: auto;
}

body.workspace-content-editor-pane-open #customize-preview {
    bottom: 300px;
}

body.mce-fullscreen #customize-preview {
    bottom: 0;
}

body.mce-fullscreen.workspace-content-editor-pane-open div.mce-fullscreen {
    position: relative;
    left: 0;
}


body.workspace-content-editor-pane-resize #customize-preview:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999999;
}

.no-pointer-on-iframes-during-resize {
    pointer-events: none;
}