#workspace-content-editor-pane {

  .panels > :last-child:nth-child(odd){
    /*grid-area: full;*/
  }

  .panels {
    display: grid;
    height: 100%;
   /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "half1  half1  half1  half2  half2  half2"
            "third1 third2 third2 third2 third3 third3"
            "full full full full full full"
  ;
    grid-auto-rows: 0;
    grid-template-rows: auto auto 1fr;*/

    overflow: hidden;
    overflow-y: hidden;
    position: relative;
    .workspace-panel-wrapper {

      min-width: 100px;
      height: var(--workspace-height);

      .workspace-panel {

        height: 100%;


        .workspace-menu-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 8px 0px 0px 0px;
        }

        .workspace-editor-wrapper {
          overflow: scroll;
          height: calc( 100% - @toolbar_height );
          z-index: 2;
          position: relative;
          margin-top: @toolbar_height;

          .CodeMirror {
            overflow: hidden;
            position: relative;
            height: auto !important;


          }
        }
      }
    }
  }
}



.delete-group {
  border-radius: 0px;
  font-size: 10px;
  padding: 1px 5px;
  background: #000;
  color: red;
  display: inline-block;
  cursor: pointer;
}

.horizontal-panel-resize {
  width: 4px;
  background: yellow;
  height: 100%;
  cursor: w-resize;
  display: block;
  position: absolute;
  right: 0;
}



.workspace-menu-wrapper li {
  list-style: none;
  display: block;
}
.workspace-menu-wrapper ul {
  flex-direction: row;
  display: flex;
}


.workspace-add-icon-item, .workspace-add-tab {
    transition: all 1000ms ease;
}

.workspace-nav .tab.active a{

  background-color: #272822;
  color: #f8f8f2;
}