/*
* Large portions replicated from customize posts plugin by Weston Ruter
 */
#workspace-content-editor-pane {
	border-top: solid 1px #ddd;
	position: absolute;
	height: 300px;
	bottom: -301px;
	right: 0;
	left: 0;
	z-index: 20;
	background: #f1f1f1;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	/*overflow-y: scroll;*/
}

/*#workspace-content-editor-pane .panels {
	display: flex;
	flex-direction: row;
}

.panels .workspace-panel {
	flex-grow: 1;
	flex-basis: 0;
}*/


#workspace-content-editor-title {
	position: absolute;
	text-overflow: ellipsis;
	width: 10%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 13px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 5px 10px;
	margin-left: auto;
	margin-right: auto;
	top: -2px;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: 3px;
	background: #f5f5f5;
	font-weight: normal;
	text-align: center;
}

#workspace-content-editor-pane .wp-editor-tools {
	padding-top: 5px;
	padding-right: 10px;
}

#workspace-content-editor-pane .wp-media-buttons {
	padding-left: 5px;
}

#wp-content-editor-container {
	border-left: 0;
}

/* vertical resize bar */
#workspace-content-editor-dragbar {
	top: 0;
	cursor: row-resize;
	display: block;
	height: 4px;
	position: absolute;
	width: 100%;
	z-index: 21;
}


.workspace-content-editor-pane-open
	.wp-full-overlay.collapsed
	.wp-full-overlay-sidebar {
	z-index: 30;
}

.workspace-content-editor-pane-open
	.wp-full-overlay.collapsed
	.collapse-sidebar {
	bottom: 308px;
}

.workspace-content-editor-pane-open
	.wp-full-overlay.expanded
	.collapse-sidebar {
	bottom: 0 !important;
}

.workspace-content-editor-pane-resize
	.wp-full-overlay.collapsed
	.collapse-sidebar {
	-webkit-transition: none;
	transition: none;
}

.workspace-content-editor-pane-open.mce-fullscreen
	.wp-full-overlay.collapsed
	.collapse-sidebar {
	bottom: 8px !important;
}


.workspace-trash-can {
	position: absolute;
	background: white;
	z-index: 2;
	right: 0;
	top: -2px;
	display: none;
}

.workspace-panel-hovering + .workspace-trash-can {
	display: block;
}

/*
* <!-- end --> Large portions replicated from customize posts plugin by Weston Ruter
 */

/*
Composition list
 */

.workspace-panel-location-list {
	list-style: none;
}

.workspace-panel-button > .dashicons,
.workspace-panel-button > .dashicons-before:before {
	font-size: 0.8rem;
	height: 0.8rem;
	vertical-align: middle;
}


/*

 */

.workspace-panel-button.active,
.workspace-panel-button:active,
.workspace-panel-button.active:hover {
	background: #eee;
	border-color: #999;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
	-webkit-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}

.workspace-panel-button {
	display: inline-block;
	text-decoration: none;
	height: 1.1rem;
	font-size: 0.8rem;
	line-height: 1.1rem;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.workspace-panel-button {
	color: #555;
	border-color: #cccccc;
	background: #f7f7f7;
	-webkit-box-shadow: 0 1px 0 #cccccc;
	box-shadow: 0 1px 0 #cccccc;
	vertical-align: top;
}

.workspace-panel-button.workspace-panel-button-normal {
	height: 1.8rem;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.workspace-panel-add-select div {
	width: 49%;
	display: inline-block;
	/*display: flex;
    flex-direction: row;*/
}




.workspace-scroll-handle {
	position: absolute;
	color: #7ada4b;
	background: rgba(255, 255, 255, 0.62);
	border-radius: 100%;
}
.scroll-left {
	left: 0;
	top: 0;
}

.scroll-right {
	right: 0;
	top: 0;
}

/*.workspace-menu-wrapper ~ div {
	margin-top: -28px;
	position: relative;
}*/

.workspace-side-scroll-menu {
	overflow: auto;
	white-space: nowrap;
	padding: 0px 30px;
	margin: 0px 22px;
	/*max-width: calc(100% - 40px);*/
	overflow-x: scroll;
	padding-bottom: 10px;
}

.workspace-side-scroll-menu a {
	display: inline-block;
	text-align: center;
	margin: 0px 2px;
	text-decoration: none;
	padding: 2px 2px 0 2px;
	border-radius: 4px 4px 0 0;
	/*border: 1px solid rgb(0, 88, 41);*/
	background-color: #f8f8f2;
	color: #272822;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	vertical-align: bottom;
	overflow: hidden;
}

.workspace-side-scroll-menu a.active {
	color: red;
}
.workspace-side-scroll-menu li :hover {
	background: #e6ff4b;
}

.workspace-add-css-section,
.workspace-add-group {
	vertical-align: text-bottom !important;
}

.workspace-add-css-section:hover {
}

#workspace-trash-can {
	position: absolute;
	background: white;
	z-index: 2;
	right: 0;
	top: -2px;
	display: none;
}

.workspace-hovering + #workspace-trash-can {
	display: block;
}
