<template>
    <div id="workspace-panels-app">
        <workspace />
    </div>
</template>

<script>

    import WorkspacePanelManager from "./main";
    import Workspace from "./components/Container";
    export default {
        name: "app",
        components: {
            Workspace
        },
    };
</script>

<style lang="less">

    @import './assets/global.css';
    @font_families: roboto;
    @toolbar_height: 29px;
    #workspace-panels-app {

       &, .workspace-menu-wrapper * {
            margin: 0;
            padding: 0;
            text-align: left;
            color: black;
            background: whitesmoke;
        }
        font-family: @font_families, Menlo, "Source Code Pro", monospace, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;

        @import './assets/new.less';
        @import './assets/panel.less';
    }
</style>
